set -l config_file $HOME/.config/lazygit/config.yml
set -l theme_file {{ .chezmoi.sourceDir }}/dot_config/external_catppuccin/lazygit/themes-mergable/mocha/mauve.yml
set -gx LG_CONFIG_FILE (string join "," $config_file $theme_file)
