[core]
	editor = nvim
	pager = delta
[user]
	name = loqusion
	email = 38332081+loqusion@users.noreply.github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[interactive]
	diffFilter = delta --color-only
[checkout]
	workers = 0
[diff]
	colorMoved = default
	tool = nvimdiff
[diff "lockb"]
	textconv = bun
	binary = true
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[fetch]
	parallel = 0
[init]
	defaultBranch = main
[merge]
	conflictstyle = diff3
	tool = nvimmerge
[mergetool "nvimmerge"]
	cmd = nvim +DiffviewOpen
[pull]
	rebase = true
	ff = only
[push]
	autoSetupRemote = true
[stash]
	showIncludeUntracked = true
[status]
	short = true
[delta]
	navigate = true
	light = false
