[submodule ".config/kitty/kitty-themes"]
	path = .config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes
[submodule ".config/hypr/.AmadeusWM"]
	path = .config/hypr/.AmadeusWM
	url = https://github.com/loqusion/dotfiles-hyprland-AmadeusWM
[submodule ".config/catppuccin/fish"]
	path = .config/catppuccin/fish
	url = https://github.com/catppuccin/fish
[submodule ".config/catppuccin/bat"]
	path = .config/catppuccin/bat
	url = https://github.com/catppuccin/bat
[submodule ".config/catppuccin/btop"]
	path = .config/catppuccin/btop
	url = https://github.com/catppuccin/btop
[submodule ".config/catppuccin/cava"]
	path = .config/catppuccin/cava
	url = https://github.com/catppuccin/cava
