bdfr==2.5.2
debugpy==1.6.0
django==4.0.5
flake8==4.0.1
ipython==8.4.0
mypy==0.961
pip-chill==1.0.1
ptpython==3.0.20
pylint==2.14.3
pynvim==0.4.3
pyright==1.1.255
pytest==7.1.2
send2trash==1.8.0
vim-vint==0.3.21
yapf==0.32.0
