@use "sass:color";

$font-family: "JetBrainsMono NF";
$font-size: 18px;

$color-background: #11111b;

$color-text: #eae9f0;
$color-red: #e97193;
$color-green: #aac5a0;
$color-yellow: #f6d6b3;
$color-orange: #f2c798;
$color-blue: #a8c5e6;
$color-purple: #dfa7e7;
$color-purple2: #ecdbee;
$color-teal: #72b69c;

$color-fullscreen-alpha: 1;
$color-fullscreen: color.change($color-blue, $alpha: $color-fullscreen-alpha);

@mixin button-box {
  padding: 5px 10px;
  margin: 5px 5px 0px 0px;
  border: 2px solid $color-text;
  box-shadow: $color-text 0px 0px 0px 0px;
  transition: 0.1s all ease;

  border-radius: 10px;
  color: $color-text;

  background-color: unset;
}

@mixin button-box-high {
  @include button-box;
  box-shadow: $color-text 0px 5px 0px 0px;
  margin-top: 0px;
  margin-bottom: 5px;
  transition: 0.1s all ease;
  color: $color-text;

  opacity: 1;
}

@mixin button-box-fullscreen {
  @include button-box;

  color: $color-fullscreen;
  border-color: $color-fullscreen;
  box-shadow: $color-fullscreen 0px 0px 0px 0px;
}

@mixin button-box-high-fullscreen {
  @include button-box-high;

  color: $color-fullscreen;
  border-color: $color-fullscreen;
  box-shadow: $color-fullscreen 0px 5px 0px 0px;
}

* {
  border: none;
  border-radius: 0;
  font-family: $font-family;
  font-size: $font-size;
}

window#waybar {
  background-color: transparent;
}

window#waybar.fullscreen {
}

.modules-left,
.modules-center,
.modules-right {
  margin: 10px;
  margin-bottom: 0px;
}

.modules-right {
  @include button-box-high;
  margin: 10px;
  margin-bottom: 5px;
  padding: 0px;
}

/*
 * CSS provided by Flick0
 * see: https://github.com/Alexays/Waybar/wiki/Module:-Workspaces
 */
#workspaces {
  min-height: 45px;
  font-size: 16px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: $color-text;
  margin-bottom: 0px;
}

#workspaces button {
  min-width: 40px;
  @include button-box;
  opacity: 0.7;
}

#workspaces button:hover {
  box-shadow: $color-text 0px 5px 0px 0px;
  margin-top: 0px;
  margin-bottom: 5px;
}

#workspaces button.active {
  @include button-box-high;
}

#workspaces button.active:hover {
  transition: 0.04s all ease;
  margin-top: 2px;
  margin-bottom: 3px;
  box-shadow: $color-text 0px 3px 0px 0px;
}

/* #workspaces button.occupied {
	transition: none;
	color: #F28FAD;
	background: transparent;
	font-size: 4px;
}

#workspaces button.focused {
	color: #ABE9B3;
    border-top: 2px solid #ABE9B3;
    border-bottom: 2px solid #ABE9B3;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	color: #FAE3B0;
    border-color: #E8A2AF;
    color: #E8A2AF;
}

#workspaces button.focused:hover {
    color: #E8A2AF;
} */

#mode,
#battery,
#cpu,
#bluetooth #memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#custom-storage,
#custom-terminal,
#custom-spotify,
#custom-weather,
#custom-dunst,
#custom-mail {
  margin: 5px 6px 0px 10px;
  padding-bottom: 3px;
}

#idle_inhibitor {
  margin-right: 16px;
}

#clock {
  margin: 0px 10px 0px 10px;
  font-weight: bold;
}

#network {
  padding-right: 5px;
}

#bluetooth {
  padding-right: 2px;
  padding-left: 8px;
  margin-top: 2px;
}

#battery {
}

#battery.warning {
  color: $color-text;
}

#battery.critical {
  color: $color-text;
}

#battery.charging {
  color: $color-text;
}

#custom-storage.warning {
  color: $color-text;
}

#custom-storage.critical {
  color: $color-text;
}

#apatheia {
  color: $color-text;
}

#backlight {
  padding-right: 5px;
}

#custom-spotify {
  @include button-box-high;
  padding-right: 15px;
}

#custom-appname,
#window {
  @include button-box-high;
}

#tray {
  font-size: 5px;
  padding: 0px 10px;
  padding-right: 1px;
  border-radius: 5px 0px 0px 5px;
}
