*
!/.gitignore


# Tracked config directories

!/AmadeusWM/
!/AmadeusWM/**
!/anyrun/
!/anyrun/**
!/bat/
!/bat/**
!/btop/
!/btop/**
!/catppuccin/
!/catppuccin/**
!/cava
!/cava**
!/coolercontrol/
!/coolercontrol/**
!/dunst/
!/dunst/**
!/fcitx5/
!/fcitx5/**
!/fish/
!/fish/**
!/fontconfig/
!/fontconfig/**
!/fuzzel/
!/fuzzel/**
!/gammastep/
!/gammastep/**
!/gh/
!/gh/**
!/glow/
!/glow/**
!/gtk-3.0/
!/gtk-3.0/**
!/htop/
!/htop/**
!/hypr/
!/hypr/**
!/iterm2/MyProfile/
!/iterm2/MyProfile/**
!/k9s/
!/k9s/**
!/kitty/
!/kitty/**
!/lazygit/
!/lazygit/**
!/luarocks/
!/luarocks/**
!/mako/
!/mako/**
!/mpv/
!/mpv/**
!/nap/
!/nap/**
!/neofetch/
!/neofetch/**
!/nvim/
!/nvim/**
!/nwg-look/
!/nwg-look/**
!/obs-studio/themes/
!/obs-studio/themes/**
!/paru/
!/paru/**
!/ptpython/
!/ptpython/**
!/qBittorrent/themes
!/qBittorrent/themes**
!/qt5ct/
!/qt5ct/**
!/qt6ct/
!/qt6ct/**
!/ranger/
!/ranger/**
!/rofi/
!/rofi/**
!/rtx/
!/rtx/**
!/skhd/
!/skhd/**
!/stylua/
!/stylua/**
!/swayidle/
!/swayidle/**
!/swaylock/
!/swaylock/**
!/systemd/
!/systemd/**
!/tabtab/
!/tabtab/**
!/uebersicht/
!/uebersicht/**
!/user-tmpfiles.d/
!/user-tmpfiles.d/**
!/waybar/
!/waybar/**
!/wezterm/
!/wezterm/**
!/wireplumber/
!/wireplumber/**
!/wlogout/
!/wlogout/**
!/xsettingsd/
!/xsettingsd/**
!/yabai/
!/yabai/**
!/zellij/
!/zellij/**


# Tracked config files

!/dz65rgb_v3.layout.json
!/electron*-flags.conf
!/electron-flags.conf
!/mimeapps.list
!/starship.toml
!/topgrade.toml
!/user-dirs.dirs
!/user-dirs.locale


# Non-config

/btop/btop.log
/lazygit/state.yml
/systemd/**/*.wants/**


# Dangerous!!!

/gh/hosts.yml


.DS_STORE
fish_variables
secrets.fish
