*~
*

!AmadeusWM/
!anyrun/
!bat/
!btop/
!catppuccin/
!cava
!coolercontrol/
!dunst/
!fcitx5/
!fish/
!fontconfig/
!gammastep/
!gh/
!glow/
!gtk-3.0/
!hypr/
!iterm2/MyProfile/
!k9s/
!kitty/
!lazygit/
!luarocks/
!mako/
!mpv/
!nap/
!neofetch/
!nvim/
!nwg-look/
!obs-studio/themes/
!paru/
!ptpython/
!qBittorrent/themes
!qt5ct/
!qt6ct/
!ranger/
!rofi/
!rtx/
!skhd/
!stylua/
!swayidle/
!swaylock/
!systemd/user
!tabtab/
!uebersicht/
!user-tmpfiles.d/
!waybar/
!wezterm/
!wireplumber/
!wlogout/
!xsettingsd/
!yabai/
!zellij/
!htop/

!.gitignore
!electron-flags.conf
!mimeapps.list
!starship.toml
!topgrade.toml
!user-dirs.dirs
!user-dirs.locale

.DS_STORE
btop/btop.log
gh/hosts.yml
lazygit/state.yml
