*
!/.gitignore


# Tracked config directories

!/AmadeusWM/
!/AmadeusWM/**
!/alacritty/
!/alacritty/**
!/anyrun/
!/anyrun/**
!/bat/
!/bat/**
!/btop/
!/btop/**
!/catppuccin/
!/catppuccin/**
!/cava
!/cava**
!/coolercontrol/
!/coolercontrol/**
!/dunst/
!/dunst/**
!/eww/
!/eww/**
!/fcitx5/
!/fcitx5/**
!/fish/
!/fish/**
!/font-manager/
!/font-manager/**
!/fontconfig/
!/fontconfig/**
!/fuzzel/
!/fuzzel/**
!/gammastep/
!/gammastep/**
!/gdb/
!/gdb/**
!/gh/
!/gh/**
!/git/
!/git/**
!/glow/
!/glow/**
!/gtk-3.0/
!/gtk-3.0/**
!/helix/
!/helix/**
!/home-manager/
!/home-manager/**
!/htop/
!/htop/**
!/hypr/
!/hypr/**
!/i3/
!/i3/**
!/iterm2/MyProfile/
!/iterm2/MyProfile/**
!/k9s/
!/k9s/**
!/kitty/
!/kitty/**
!/lazygit/
!/lazygit/**
!/luarocks/
!/luarocks/**
!/mako/
!/mako/**
!/marksman/
!/marksman/**
!/mpv/
!/mpv/**
!/nap/
!/nap/**
!/neofetch/
!/neofetch/**
!/nix/
!/nix/**
!/nvim/
!/nvim/**
!/nwg-look/
!/nwg-look/**
!/obs-studio/themes/
!/obs-studio/themes/**
!/paru/
!/paru/**
!/ptpython/
!/ptpython/**
!/qBittorrent/themes
!/qBittorrent/themes**
!/qt5ct/
!/qt5ct/**
!/qt6ct/
!/qt6ct/**
!/ranger/
!/ranger/**
!/rofi/
!/rofi/**
!/rtx/
!/rtx/**
!/skhd/
!/skhd/**
!/sqlite3/
!/sqlite3/**
!/stylua/
!/stylua/**
!/swayidle/
!/swayidle/**
!/swaylock/
!/swaylock/**
!/systemd/
!/systemd/**
!/tabtab/
!/tabtab/**
!/tmux/
!/tmux/**
!/uebersicht/
!/uebersicht/**
!/user-tmpfiles.d/
!/user-tmpfiles.d/**
!/waybar/
!/waybar/**
!/wezterm/
!/wezterm/**
!/wireplumber/
!/wireplumber/**
!/wlogout/
!/wlogout/**
!/xsettingsd/
!/xsettingsd/**
!/yabai/
!/yabai/**
!/zathura/
!/zathura/**
!/zellij/
!/zellij/**


# Tracked config files

!/PCSX2/
!/PCSX2/inis/
!/PCSX2/inis/*.ini
!/_vpn.toml
!/dz65rgb_v3.layout.json
!/electron*-flags.conf
!/electron-flags.conf
!/godot/
!/godot/editor_settings*
!/mimeapps.list
!/obsidian/
!/obsidian/user-flags.conf
!/retroarch/
!/retroarch/*.cfg
!/retroarch/config/
!/retroarch/config/**
!/rpcs3/
!/rpcs3/config.yml
!/rpcs3/custom_configs
!/rpcs3/custom_configs/**
!/rpcs3/patch_config.yml
!/rpcs3/patches
!/rpcs3/patches/**
!/starship.toml
!/topgrade.toml
!/user-dirs.locale
# !/user-dirs.dirs


# Non-config

/btop/btop.log
/tmux/plugins/
/lazygit/state.yml
/systemd/**/*.wants/**
/nvim/spell/**


# Dangerous!!!

/gh/hosts.yml
/pdm/config.toml
/spotifyd/spotifyd.conf


.DS_STORE
fish_variables
secrets.fish
