* {
  border: none;
  border-radius: 0;
  font-family: "VictorMono NF";
  font-size: 18px;
}

window#waybar {
  background: rgba(35, 31, 32, 0.2);
  color: #eae9f0;
}

window#waybar.fullscreen {
  background: rgba(35, 31, 32, 0.7);
}

.modules-right {
  margin-right: 16px;
}

#workspaces button {
  min-width: 40px;
  color: rgba(234, 233, 240, 0.6);
  transition: 0.1s all ease;
}

#workspaces button:hover {
  background: unset;
  color: #eae9f0;
  box-shadow: 0 1px rgba(234, 233, 240, 0.8) inset, 0 1px 2px rgba(0, 0, 0, 0.07);
}

#workspaces button.active {
  background: rgba(234, 233, 240, 0.1);
  color: #eae9f0;
}

#workspaces button.urgent {
  background: rgba(242, 199, 152, 0.3);
}

#mode,
#battery,
#cpu,
#bluetooth,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#clock,
#backlight {
  margin: 1px 6px 0px 10px;
}

#tray {
  padding-left: 10px;
  padding-right: 1px;
}

#network {
  margin-right: 12px;
}

#battery {
  padding-left: 0px;
  margin-left: 6px;
}

#battery.warning {
  color: #f2c798;
}

#battery.critical {
  color: #e97193;
}

#clock {
  font-family: "ProggyClean CE Nerd Font";
  font-size: 24px;
  letter-spacing: -1.6px;
  margin: 3px 0px 0px 16px;
}

#custom-recorder {
  color: #e97193;
}
