[Desktop Entry]
Type=Application
Name=Proton
Exec=proton %f
MimeType=application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;application/x-bat;application/x-mswinurl
NoDisplay=true
StartupNotify=true
