.apatheia-container {
  border-radius: 12px 12px;
  padding: 2rem;
  // margin: 30px 0px;
  border: 2px solid rgba($color-primary, 0.1);
}

.apatheia-content {
  font-family: $font-family-tertiary;
  font-size: 1.2em;
  color: $color-white;
}

.apatheia-author {
  font-family: $font-family-tertiary;
  font-style: italic;
  font-weight: bold;
  font-size: 1.2em;
  color: $color-primary;
  margin-top: 0.3rem;
}
